/* Made by Dmitry Glinskiy, contact me at glinskiy.net */
body {
  background-color: #f1f1f1;
 -webkit-print-color-adjust:exact;
}

h1 {
  padding: 0.5em 0;
}

.pagebreak {
  page-break-before: always;
}

.container-custom {
  width: 932px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #ffffff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* Шапка бланка */
.logo {
  padding: 12px 0 0;
}

.header {
  width: 100%;
  text-align: center;
  padding: 10px 10px 0 160px;
  border-bottom: 1px solid #00807b;
  margin: 0 15px 15px;
  font-size: 13px;
}
.header p {
  margin: 0;
}
.logo-rp {
  float: left;
  width: 150px;
  margin-left: -160px;
}
.addresses {
  display: inline-block;
  font-size: 85%;
  line-height: 125%;
  padding-top: 5px;
  padding-bottom: 15px;
}

/* Пациент - таблицы и формы */
input.form-control {
  display: inline-block;
  max-width: 200px;
  border: none;
  background-color: #d9ffe0;
  padding: 0.5rem 0.25rem;
}

/* Цветовая схема документа */
h5 {
  color: #00807b;
}

/* Прочие элементы */
.element-remover {
  position: absolute;
  margin-left: -32px;
  margin-top: 4px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  background-color: #eee;
  color: #999!important;
  cursor: pointer;
}
.element-remover:hover {
  background-color: #ad0000;
  color: #fff!important;
}

/* Debug rulers */
.ruler-a, .ruler-b {
  width: 50px;
  height: 50px;
  float: left;
  display: none;
}
.ruler-a {
  background-color: #eee;
}
.ruler-b {
  background-color: #fafafa;
}

/* Все для печати */
@media print {
  body {
    background-color: #fff;
    padding: 0;
    margin: 0;
  }

  .container-custom {
    min-height: auto;
    width: 900px!important;
    max-width:900px;
    border: none;
    padding: 0;
    margin: 0;
  }

  .row, .col, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-12 {
    padding: 0;
    margin: 0;
  }

  .header {
    margin: 0 0 15px;
    padding: 0 0 0 160px;
  }

  .logo-rp {
    margin-top: 10px;
  }

  p {
    line-height: 1.5rem;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
  }

  input.form-control {
    border: none;
    background-color: #d9ffe0;
    padding: 0;
    height: 1.5rem;
    line-height: 1.5rem;
  }

  .element-remover {
    display:none;
  }
}
/* Made by Dmitry Glinskiy, contact me at glinskiy.net */
